<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>e-Commerce</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">e-Commerce's Admin</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item" th:each="c: ${categories}">
                                    <a class="nav-link" href="#" th:text="${c.name}"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="container">
                <div class="mt-2">
                    <a href="#" class="btn btn-info">Thêm sản phẩm</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p: ${products}">
                            <td>
                                <img th:src="${p.image}" width="200"/>
                            </td>
                            <td th:text="${p.name}"></td>
                            <td th:text="${p.price} + 'VND'"></td>
                            <<td>
                                <a href="#" class="btn btn-info">Cập nhật</a>
                                <button class="btn btn-danger">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </body>
    </html>

